.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.title {
  text-align: center;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

.rule-item {
  padding-bottom: 5px;
}

li.rule-item-cross:before {
  content: "\292b";
  color: red;
  font-size: 18px;
  padding-right: 5px;
}

li.rule-item-check:before {
  content: "\2713";
  color: green;
  font-size: 16px;
  padding-right: 5px;
}

@media (min-width: 1281px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 75%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
